
/* font */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');




:root{
    --textColor1:#c0c0c0;
    --textColor2:#fff;
    --textOrHot:#da8c21;
    --textOrSky:#f2914e;
    --bgColor:rgb(14, 21, 22);
    --bginputColor:rgb(31, 32, 32);

    --fontHomeDesc:'Dancing Script', cursive;
    --fontNavlink: 'Roboto', sans-serif;
}

/* global */
a{
    text-decoration: none;

}


body{
    background-color:var(--bgColor) ;
    display: flex;
    flex-direction: column;
}

body *{
    padding: 0px;
    margin: 0px;
    overflow-x: hidden;
    box-sizing: border-box;
    color: var(--textColor2);
    font-family: var(--fontNavlink);
}
main{
    flex-grow: 1;
}

/* header */
.section-1{
background: linear-gradient(180deg, rgba(136, 134, 134, 0.5) 0%, rgba(14,21,22,0.95) 30%), url(../img/bg/bg2.jpg) no-repeat center center / cover;


}

.header-container{
    overflow-y: hidden;
}


.logo{
    width: 100px;
    height: auto;
}

.nav-container{
    padding-top:2rem;
    display: flex;
    justify-content: space-between;
    overflow: visible;
    position: relative;
    z-index: 1000;
}
.nav-container ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    overflow: visible;
    
    
}

.nav-container ul li{
    
    margin-right: 1rem; 
    padding-bottom: 20px;
   
    
    
}
.nav-container ul li a{
    padding-bottom: 5px;
    transition: all 0.4s;
    font-family: var(--fontNavlink);
    
}
.nav-container ul li:hover a, .nav-container ul li a.active{
    border-bottom:solid var(--textColor1) 1px;
    color: var(--textColor1);
}

.navContact{
    color: var(--textOrSky);
    border-bottom:solid var(--textOrSky) 1px;
}

.navParent{
    cursor: pointer;
    overflow: visible;
}


.navParent i{
    transform: translateY(20%);
}

.navParent div{
    display: none;
}
.navParent div ul{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0.5rem 1rem;
    
    
}
.navParent div ul li{
    margin-bottom: 0.5rem;
    padding-bottom: 5px;
    

}
.navParent div ul .navItem1 a{
    color: var(--bgColor);
    border: none;
    transition:all 0.3s ;
    font-family: var(--fontNavlink);
}

.navParent div ul .navItem1:hover{
    transform: translateX(7px);
    transition:all 0.3s ;
}
.navParent div ul .navItem1:hover a{
    color: var(--textOrSky);
    
}    
.navParent:hover div{
    transition: all 0.4s;
    display: block;
    background-color: var(--textColor2);
    position: absolute;
    transform: translateY(20px);
    
    width: 250px;
    height: 280px;
    overflow-y:hidden;
}

.menu-icon{
        
    display: none;
}
.menu-icon i{
    font-size: 1.5rem;
}

.header-main{
    margin-top: 120px;
    
}
.header-main h1, .header-main h1 span{
    font-size:4rem;
    position: relative;
    z-index: -1;
    
    font-family: var(--fontHomeDesc);
}

.header-main h1{
    color: var(--textColor2);
}
.header-main h1 span{
    color: var(--textOrSky);

}

.header-footer{
    margin-top: 60px;
    z-index: -100;
}
.header-footer a {
    display: flex;
    transition: all 0.3s;
    overflow: hidden;
    
}
.header-footer a span{
    margin-right: 0.5rem;
}
.header-footer a span i{
    color: var(--textColor1);
}

.header-footer a:hover span i{
    transition: all 0.5s;
    transform: rotate(360deg);
}
.header-footer a:hover .arrow-label{
    transition: all 0.5s;
    
    transform: translate(10%, 10%) scale(1.2);
}
.arrow-circle{
    border: solid var(--textColor1) 1px;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}
.arrow-label{
    transform: translateY(10%);
    font-size: 0.9rem;
    font-family: var(--fontNavlink);
    
}

section{
    margin-top: 80px;
}

/* realisation */

.realisation-content{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.realisation-content div{
    margin-right: 2.5rem;
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.realisation-content .site_img_container label span{
    
    font-family: var(--fontHomeDesc);
    font-weight: bold;
    font-size: xx-large;
}
.realisation-content .site_img_container a{
    margin-top: 1.5rem;
}

.realisation-content .site_img_container a, .realisation-content .site_img_container{
   overflow: hidden;
}


.realisation-content .site_img_container a img{
    width: 395px;
    height:500px;
}

.realisation-content .site_img_container a:hover{
    transform: scale(1.1);
    transition: all 0.5s;
}


.web_dev *, .about *{
    overflow: hidden;
}

.section_title, .section_title span{
    font-size: 3rem;
    margin-left: 0.3rem;
    
    font-family: var(--fontHomeDesc);
}

.section_title{
    margin-bottom: 0.5rem;
    
}
.section_title span{
    color: var(--textOrSky);
}

.section_text{
    margin-left: 0.3rem;
    font-weight: lighter;
    font-family: var(--fontNavlink);
    font-size: 1.2rem;
}


footer {
    width: 100%;
    background-color: black;
  }

.logo-footer h2{
    font-size: 2rem;
    font-family: var(--fontHomeDesc);
    color: var(--textOrSky);
}

.footer-content{
    margin-top: 3rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-content .one_part, .footer-content .two_part, .footer-content .three_part{
    display: block;
    position: relative;
    margin-bottom: 2rem;
}

.footer-content div .div-content{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    
}

.footer-content div .div-content.log{
    margin-top: 0.5rem;
}

.footer-content div .div-header{
    font-family: var(--fontHomeDesc);
    color: var(--textOrSky);
    font-size: 1.3rem;
}

.footer-content div .div-content a{
    font-family: var(--fontNavlink);
    color: var(--textColor1);
    margin-bottom:0.4rem;
    transition: all 0.4s;
}
.footer-content div .div-content a:hover{
    text-decoration: none;
    color: var(--textColor2);
}
.copyright-content{
    margin-bottom: 2rem;
}
footer .copyright{
    font-size: small;
}

#contact, #social-network{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.section-header, #contact .section-header span{
    color: var(--textOrSky);
    font-size: 3rem;
    font-family: var(--fontHomeDesc);
}

.diffrent-contact{
    display:flex;
    justify-content:center;
    flex-wrap: wrap;
    margin: 4rem 0;
}
.diffrent-contact .contact-item-div{
    display:flex;
    flex-direction:column;
    align-items:center;
    padding: 1rem 2rem;
}
.contact-item-div.middle{
    border:none;
    border-left: 2px solid var(--textOrSky);
    border-right: 2px solid var(--textOrSky);
}

.contact-item-div i{
    color:var(--textOrSky);
    font-size:2rem;
    margin-bottom: 0.3rem;
}
.contact-item-div label{
    color:var(--textOrSky);
    margin-bottom: 1rem;
}

.contact-item-div span{
    font-size: 1rem;
}

.desc{
    text-align: center;
    margin-bottom: 2rem;
}

.contact-form{
    display: flex;
    flex-direction: column;
    width: 70%;
}
.contact-form div{
    display: block;
    margin-bottom: 1rem;
    
}
.contact-form div label{
    font-size: 0.8rem;
}

.contact-form div input, .contact-form div textarea{
    background-color:var(--bginputColor) ;
    width: 100%;
    
    border: none;
    outline: none;
    padding: 0 0.5rem;
}
.contact-form div input{
    height: 2.2rem;
}
.btn-goldSky{
    background-color: var(--textOrSky);
    color: var(--bginputColor);
    border: none;
    transform: all 0.4s;
}

.btn-goldSky:hover{
    background-color: var(--bginputColor);
    color:var(--textOrSky) ;
    border: 1.5px solid var(--textOrSky);
}
#social-network{
    margin-top: 2rem;
}

#social-network .section-header{
    margin-bottom: 0.8rem;
}
#social-network div{
    display: flex;
    justify-content: space-between;
}

#social-network div i{
    font-size: 2rem;
    color: var(--textOrSky);
    margin-right: 1rem;
}
.map-content{
    align-items: center;
    margin: 2rem 0;
}
.map-content, .map{
    width: 100%;
}

/* responsive */
@media screen and (max-width:1057px) {




    
    .nav-container ul{
        position: absolute;
        top: 0px;
        left: 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100vh;
        background-color: var(--bgColor);
        z-index: 10;
        
    }
    .nav-container ul li{
        margin-bottom: 0.7rem; 
        padding-bottom: 20px;
        
        
    }

    .nav-container ul li a{
        padding-bottom: 5px;
        transition: all 0.4s;
        font-family: var(--fontNavlink);
        font-size: 1.3rem;
        
    }
    .menu-icon{
        display: block;
        position: absolute;
        transform: translateY(-28px);
        cursor: pointer;
        right: 100px;
        padding-top:2rem;
        z-index: 1000;

    }

    .nav-bar{
        transform: translateX(100%);
        transition: all 0.5s;
    }

    .nav-bar.menu-mobile{
        position: fixed;
        width: 100%;
        transform: translateX(0%);
    }

    .navParent{
        cursor: pointer;
        position: relative;
        font-size: 1.3rem;
        
    }

    .navParent div ul{
        display: flex;
        position: relative;
        width: 100%;
        margin-left: 0;
        margin-top: 0;
        border: none;
        border-radius: 5px;
        background-color: var(--textColor2);
        justify-content: flex-start;
        z-index: 1000;
        
        
        
  
    }

    .navParent:hover div{
        transition: all 0.4s;
        display: block;
        background-color: var(--textColor2);
        position: absolute;
        transform: translate(42%,-11%);
         
    }
    

    .header-main h1{
        font-size:3rem;
        padding-left: 0.5rem;
        color: var(--textColor2);
        font-family: var(--fontHomeDesc);
    }
    
    .contact-item-div i{
        color:var(--textOrSky);
        font-size:1.5rem;
        margin-bottom: 0.2rem;
    }
    .contact-item-div label{
        color:var(--textOrSky);
        margin-bottom: 0.8rem;
    }
    
    .contact-item-div span{
        font-size: 0.8rem;
    }

}

@media screen and (max-width:472px) {

    .header-main h1{
        font-size:2.5rem;
        color: var(--textColor2);
        font-family: var(--fontHomeDesc);
    }

    .menu-icon{
        
        transform: translate(2rem, -28px);
        

    }

    .nav-logo h1{
        
        font-family: var(--fontHomeDesc);
        transform: translateY(-7px);
        
    }
    
    .menu-icon i{
        font-size: 1.3rem;
    }

    .contact-item-div.middle{
        
        border-left:none;
        border-right:none;
    }
    
    .contact-item-div i{
        color:var(--textOrSky);
        font-size:2rem;
        margin-bottom: 0.3rem;
    }
    .contact-item-div label{
        color:var(--textOrSky);
        margin-bottom: 1rem;
    }
    
    .contact-item-div span{
        font-size: 1rem;
    }

}
